{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary mb-4">Bienvenido a Next-Service</h1>
        <p class="lead text-muted">Descubre los mejores servicios y soluciones para tus necesidades.</p>
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg mt-3">Únete Ahora</a>
    </div>

    <!-- Servicios Destacados -->
    <section class="mt-5">
        <h2 class="text-secondary">Servicios Destacados</h2>
        <p class="text-muted">Explora nuestros servicios más populares y encuentra lo que necesitas.</p>
        <div class="row">
            <!-- Usar col-md-12 para ancho completo -->
            <div class="col-md-12">
                <div class="card shadow-sm mb-4 w-100">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Servicios Destacados</h5>
                        <p class="card-text">Descubre nuestra selección de servicios destacados, cuidadosamente escogidos para ofrecerte soluciones de calidad en diversas áreas. Desde servicios personalizados hasta opciones innovadoras, estamos comprometidos en proporcionarte lo mejor para satisfacer tus necesidades y expectativas. Explora estas opciones y encuentra el servicio perfecto para ti.</p>
                        <a href="{% url 'service_list' %}" class="btn btn-outline-primary btn-sm">Ver Servicios</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Acceso al Dashboard -->
    {% if user.is_authenticated %}
    <section class="mt-5 p-5 rounded shadow-sm bg-light text-center">
        <h2 class="text-secondary">Accede a tu Dashboard</h2>
        <p class="text-muted">Gestiona tus servicios, revisa tus citas y personaliza tu experiencia.</p>
        <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg">Ir al Dashboard</a>
    </section>
    {% else %}
    <section class="mt-5 p-5 rounded shadow-sm bg-light text-center">
        <h2 class="text-secondary">Únete a Nuestra Comunidad</h2>
        <p class="text-muted">Crea una cuenta para acceder a tu propio panel y explorar todos nuestros servicios.</p>
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg">Únete Ahora</a>
    </section>
    {% endif %}
</div>
{% endblock %}
