{% extends "base.html" %}

{% block title %}Lista de Servicios{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Título de la Página -->
    <h1 class="text-center display-4 text-primary mb-4">Lista de Servicios</h1>

    <!-- Listado de Servicios -->
    <div class="row">
        {% for service in services %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-lg border-0">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            <a href="{% url 'service_detail' service.id %}" class="text-decoration-none">{{ service.name }}</a>
                        </h5>
                        <p class="card-text text-muted">{{ service.description|truncatewords:20 }}</p>
                        <p class="font-weight-bold text-secondary">Precio: {{ service.price }} €</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a href="{% url 'service_detail' service.id %}" class="btn btn-outline-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-center text-muted">No hay servicios disponibles en este momento.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
